.Header_Banner{
    background-color: white;
    float: left;
    width: 100%;
    
}

.My_Name{
    color: white;
    background-color: #4aaaa5;
    width: 20%;
    margin-left: 270px;
    text-align:center;  
    float: left;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.tablinks{
    padding: 5;
    border-left: none;
    border-bottom: none;
    border-top: none;
    background: none;
    color: gray;


}

.tablinks1{
    padding: 5;
    border-left:none;
    border-right: none;
    border-bottom:none;
    border-top: none;
    background: none;
    color: gray;
}

.tabs{
    color: gray;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}

footer {
    text-align: center;
    background-color: gray;
    position: fixed;
    right: 0;
    bottom: 0;
    left:0;
    width: 100%;
    border-top: 10px solid #4aaaa5;
}

body{
    background-image: url("../images/memphis-mini.png");
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: gray;
    font-weight: 200px
}

#copyRight{
    color: lightgray;
    text-align: center;
    width: 100%;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.Second_Page{
    margin: auto;
    Float: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: white;
    width: 600px;
    height: 650px;
    }

    .Portfolio
    { 
        border-bottom: 5px solid lightgray;
        margin-bottom: 10px;
        margin-top: 20px 
    }

    img {
        width: 150px;
        height: 150px;
        float: left;    
    }

    .Big_Box2{
        float: left;
        width: 100%;
        height: 100%;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
        padding: 0 10px;
            }
    
    .column {
     padding: 0 10px;
    }

    .first_image{
        position: static ;
        text-align: center;
        color: white;
        margin-bottom: 20px; 
                    }
  
    .text-block1{
        position: static;
        bottom: 10px;
        right: 10px;
        background-color: teal;
        color: white;
        
        
       
    }
    
    .second_image{
        position: static ;
        text-align: center;
        color: white;
        margin-bottom: 20px;
            }
  
    .text-block2{
        position: static;
        bottom: 100px;
        right: 100px;
        background-color: teal;
        color: white;
       
    }

    .third_image{
        position: static ;
        text-align: center;
        color: white;
    }
  
    .text-block3{
        position: static;
        bottom: 100px;
        right: 100px;
        background-color: teal;
        color: white;
       
    }

    .fourth_image{
        position: static ;
        text-align: center;
        color: white;
        margin-bottom: 20px;
    }
  
    .text-block4{
        position: static;
        bottom: 100px;
        right: 100px;
        background-color: teal;
        color: white;
       
    }

    .fifth_image{
        position: static ;
        text-align: center;
        color: white;
    }
  
    .text-block5{
        position: static;
        bottom: 100px;
        right: 100px;
        background-color: teal;
        color: white;
       
    }

    @media screen and (max-width: 980px){
        .Large_Container{
            width: 100%;
            height: 100%
        }
    
    }

    @media screen and (max-width: 768px){
        .Header_Banner{
            width: 100%;
        }
    
        .My_Name{
            width: 30%;
            margin-left: 10px;
        }
    
        .Second_Page{
            width: 80%;
            margin-bottom: 40px;
        }
    
        footer{
            margin-top: 20px;
        }
    
        .Big_Box2{
            margin-bottom: 100px;
        
        }

        .first_image{
            width: 50%;
            margin-right: 10px;
        }

        .second_image{
            width: 50%;
        }

        .third_image{
            width: 50%;
        }

        .fourth_image{
            width: 50%;
        }

        .fifth_image{
            width: 50%;
        }

        .text-block1{
            width: 150px;
        }

        .text-block2{
            width: 150px;
        }

        .text-block3{
            width: 150px;
        }

        .text-block4{
            width: 150px;
        }

        .text-block5{
            width: 150px;
        }
    }

    @media screen and (max-width: 640px){
        .My_Name{
            width: 100%;
        }
    
        .tabs{
            width: 100%;
            text-align: center;
        }
    
        img{
            width: 100%;
        }
    
        .Second_Page{
            height: 1000px;
        }

        .text-block1{
            width: 100%;
        }

        .text-block2{
            width: 100%;
        }

        .text-block3{
            width: 100%;
            margin-bottom: 20px;
        }

        .text-block4{
            width: 100%;
        }

        .text-block5{
            width: 100%;
        }
    }