.Header_Banner{
    background-color: white;
    float: left;
    width: 100%;
    
}

.My_Name{
    color: white;
    background-color: #4aaaa5;
    width: 20%;
    margin-left: 270px;
    text-align:center;  
    float: left;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.tablinks{
    padding: 5;
    border-left: none;
    border-bottom: none;
    border-top: none;
    background: none;
    color: gray;


}

.tablinks1{
    padding: 5;
    border-left:none;
    border-right: none;
    border-bottom:none;
    border-top: none;
    background: none;
    color: gray;
}

.tabs{
    color: gray;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}

footer {
    text-align: center;
    background-color: gray;
    position: fixed;
    right: 0;
    bottom: 0;
    left:0;
    width: 100%;
    border-top: 10px solid #4aaaa5;
}

body{
    background-image: url("../images/memphis-mini.png");
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: gray;
    font-weight: 200px
}

#copyRight{
    color: lightgray;
    text-align: center;
    width: 100%;
}

h2 {
    color: #4aaaa5;
}

.Form_Container{
    margin: auto;
    Float: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: white;
    width: 600px;
    height: 550px;
    }

    .Contact
    { 
        border-bottom: 5px solid lightgray;
        margin-bottom: 10px;
        margin-top: 20px;
        font-family: Georgia, Times, 'Times New Roman', serif;
    }

    .Big_Box3{
        float: left;
        width: 100%;
        height: 100%;
    }

    input[type=text], select, textarea {
        width: 100%; 
        padding: 12px; 
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px; 
        resize: vertical 
      }
      
      input[type=submit] {
        background-color: teal;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
       input[type=submit]:hover {
        background-color: red;
      }

      @media screen and (max-width: 980px){
        .Large_Container{
            width: 100%;
            height: 100%
        }
    
    }

    @media screen and (max-width: 768px){
        .Header_Banner{
            width: 100%;
        }
    
        .My_Name{
            width: 30%;
            margin-left: 10px;
        }
    
        .Form_Container{
            width: 80%;
            margin-bottom: 40px;
        }
    
        footer{
            margin-top: 20px;
        }
    
        .Big_Box3{
            margin-bottom: 100px;
        
        }
    }

    @media screen and (max-width: 640px){
        .My_Name{
            width: 100%;
        }
    
        .tabs{
            width: 100%;
            text-align: center;
        }
    
        .Form_Container{
            height: 700px;
        }
    }