.Header_Banner{
    background-color: white;
    float: left;
    width: 100%;
    
}

.My_Name{
    color: white;
    background-color: #4aaaa5;
    width: 20%;
    margin-left: 270px;
    text-align:center;  
    float: left;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.tablinks{
    padding: 5;
    border-left: none;
    border-bottom: none;
    border-top: none;
    background: none;
    color: gray;


}

.tablinks1{
    padding: 5;
    border-left:none;
    border-right: none;
    border-bottom:none;
    border-top: none;
    background: none;
    color: gray;
}

.About_Me
    { 
        border-bottom: 5px solid lightgray;
        margin-bottom: 10px;
    }
.tabs{
    color: gray;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.first_page{
    margin: auto;
    Float: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: white;
    width: 600px;
    height: 400px;
    }

.Big_Box{
    float: left;
    width: 100%;
    height: 100%;
}


footer {
    text-align: center;
    background-color: gray;
    position: fixed;
    right: 0;
    bottom: 0;
    left:0;
    width: 100%;
    border-top: 10px solid #4aaaa5;
}

body{
    background-image: url("../images/memphis-mini.png");
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: gray;
    font-weight: 200px
}

p{
    color:gray
}

img{
    float: left;
    padding-right: 30px 
}

p{
    float: left;
}

#copyRight{
    color: lightgray;
    text-align: center;
    width: 100%;
}

#firstp{
    float: left;
}

@media screen and (max-width: 980px){
    .Large_Container{
        width: 100%;
        height: 100%
    }

}

@media screen and (max-width: 768px){
    .Header_Banner{
        width: 100%;
    }

    .My_Name{
        width: 30%;
        margin-left: 10px;
    }

    .first_page{
        width: 80%;
        margin-bottom: 40px;
    }

    footer{
        margin-top: 20px;
    }

    .Big_Box{
        margin-bottom: 100px;
    
    }
}

@media screen and (max-width: 640px){
    .My_Name{
        width: 100%;
    }

    .tabs{
        width: 100%;
        text-align: center;
    }

    img{
        width: 100%;
    }

    .first_page{
        height: 800px;
    }
}

